[Unit]
Description=Wololo bot ranking message

[Service]
ExecStart=/home/jesusignacio/wololo-bot/venv/bin/python /home/jesusignacio/wololo-bot/wololo-bot-ranking-message.py