[Unit]
Description=wololo-bot-ranking-message

[Timer]
OnCalendar=00/10:00
Unit=wololo-bot-ranking-message.service
Persistent=true

[Install]
WantedBy=timers.target
