[Unit]
Description=Wololo bot matches

[Service]
ExecStart=/home/jesusignacio/wololo-bot/venv/bin/python /home/jesusignacio/wololo-bot/wololo-bot-matches.py
Restart=always
RuntimeMaxSec=2h

[Install]
WantedBy=multi-user.target